{% extends 'base.html '%} {% load staticfiles %} 

{% block mystyles %}

<style>
    .form-group.required .control-label:after {
        content:"*";
        color:red;
    }
    .head-line-center{
        margin:0;padding:0 10px;
        background:#fff;
        display:inline-block;
    }
    #h2headline{
        text-align:center;
        position:relative;
        z-index:2;
    }
    #h2headline:after{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:solid 1px black;
        z-index:-1;
    }
</style>

{% endblock %} 

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2 id="h2headline"><span class="head-line-center">Store</span></h2>
        </div>
    </div><!--end of row class-->


    <div class="row">
        <div class="col-md-12">
           <div class="card-columns">

                {% for product in products.all %}
                    <div class="card">
                        <div class="card-header">{{ product.crop_type }}</div>
                        <img class="card-img-top" src="{{ product.image.url }}" height="200px" alt="{{ product.crop_type }}">
                        <div class="card-body">
                          <p class="card-text"><b>Quantity: </b> {{ product.quantity }} {{ product.units }}</p>
                          <p class="card-text"><b>Unit Price: </b> {{ product.unit_price }}</p>
                          <p class="card-text"><b>Region: </b> {{ product.region }}</p>
                          <p class="card-text"><b>Posted On: </b> {{ product.created_at }}</p>
                        </div>
                        <div class="card-footer">
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                {% endfor %}

           </div>
            
        </div>
    </div><!--end of row class-->

   
</div><!--end of conatiner class-->

{% endblock %}