<!doctype html>
<html lang="en">
{% load staticfiles %} 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    {% block mystyles %}

    {% endblock %}

    <style>
        #top_nav{
            background-color:#9AC6D1 !important
        }
        #navbarContent{
        	background-color: #B8D4DA !important
        }
    </style>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light flex-row" id="top_nav">
            <a class="navbar-brand mx-md-auto mr-auto" href="/">
                <img src="{% static 'a.png' %}" height="100%" width="26" class="d-inline-block align-top" style="margin:0"/>
                ges
                <img src="{% static 'p.png' %}" height="100%" width="26" class="d-inline-block align-top" style="margin:0"/>
                an
            </a>
            <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <nav class="navbar p-0 navbar-expand-md navbar-light bg-dark">
            <div class="collapse navbar-collapse bg-light px-3" id="navbarContent">
                <ul class="navbar-nav mx-md-auto mx-0 w-50 align-items-start nav-fill">
                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'sellproduct' %}active {% elif url_name == 'store-products' %} active {% endif %}" href="#" id="navbardrop" data-toggle="dropdown">
                                Store
                            </a>

                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}                                
                                    <a class="dropdown-item {% if url_name == 'sellproduct' %}active{% endif %}" href="{% url 'sellproduct' %}">Sell Product</a> 
                                    <a class="dropdown-item {% if url_name == 'store-products' %}active{% endif %}" href="{% url 'store-products' %}">View to Buy</a>                                                   

                                {% else %} 
                                    <a class="dropdown-item {% if url_name == 'store-products' %}active{% endif %}" href="{% url 'store-products' %}">View to Buy</a>                        
                                {% endif %}
                            </div>
                            
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'register-farm' %}active {% elif url_name == 'all-farms' %} active {% endif %}" href="#" id="navbardrop" data-toggle="dropdown">
                                Farms
                            </a>

                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}                                
                                    <a class="dropdown-item {% if url_name == 'all-farms' %}active{% endif %}" href="{% url 'all-farms' %}">View Farms</a> 
                                    <a class="dropdown-item {% if url_name == 'register-farm' %}active{% endif %}" href="{% url 'register-farm' %}">Register Farm</a>                                                   

                                {% else %} 
                                <a class="dropdown-item {% if url_name == 'all-farms' %}active{% endif %}" href="{% url 'all-farms' %}">View Farms</a>                        
                                {% endif %}
                            </div>
                            
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'register-agrovet' %}active {% elif url_name == 'all-agrovets' %} active {% elif url_name == 'request-product' %} active {% elif url_name == 'all-requested-products' %} active {% endif %}" href="#" id="navbardrop" data-toggle="dropdown">
                                Agrovets
                            </a>

                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}                                   
                                    <a class="dropdown-item {% if url_name == 'register-agrovet' %}active{% endif %}" href="{% url 'register-agrovet' %}">Register Agrovet</a> 
                                    <a class="dropdown-item {% if url_name == 'all-agrovets' %}active{% endif %}" href="{% url 'all-agrovets' %}">View Agrovets</a> 
                                    <a class="dropdown-item {% if url_name == 'request-product' %}active{% endif %}" href="{% url 'request-product' %}">Request Product</a> 
                                    <a class="dropdown-item {% if url_name == 'all-requested-products' %}active{% endif %}" href="{% url 'all-requested-products' %}">Requested Products</a>                                                     

                                {% else %} 
                                    <a class="dropdown-item {% if url_name == 'all-agrovets' %}active{% endif %}" href="{% url 'all-agrovets' %}">View Agrovets</a> 
                                    <a class="dropdown-item {% if url_name == 'all-requested-products' %}active{% endif %}" href="{% url 'all-requested-products' %}">Requested Products</a>                         
                                {% endif %}
                            </div>
                            
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#">Link 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link 4</a>
                        </li>
                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name == 'login' %}active {% elif url_name == 'signup' %} active {% endif %}" href="#" id="navbardrop" data-toggle="dropdown">
                                Accounts
                            </a>

                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}                                
                                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a> 
                                    
                                    <form id="logout" action="{% url 'logout' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"/>
                                    </form>

                                {% else %} 
                                    <a class="dropdown-item {% if url_name == 'signup' %}active{% endif %}" href="{% url 'signup' %}">Signup</a>
                                    <a class="dropdown-item {% if url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </div>
                            
                        </li>
                    {% endwith %}
                </ul>
            </div>
        </nav>

    </header>

    <main role="main">

        {% block jumbotron %} {% endblock %}        
        
        <div style="margin-top:30px"></div>
            {% block content %}
            {% endblock %}        
        <div style="margin-top:30px"></div>
        

    </main>

    <footer class="text-muted">
        <div class="container text-center">
            <p>Copyright &copy; Agespan {% now 'Y' %}</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script> {% block script %} {% endblock %}
</body>

</html>