{% extends 'base.html' %} {% load staticfiles %} 

{% block mystyles %}

<style>
    .form-group.required .control-label:after {
        content:"*";
        color:red;
    }
    .head-line-center{
        margin:0;padding:0 10px;
        background:#fff;
        display:inline-block;
    }
    #h2headline{
        text-align:center;
        position:relative;
        z-index:2;
    }
    #h2headline:after{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:solid 1px black;
        z-index:-1;
    }
</style>

{% endblock %} 

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2 id="h2headline"><span class="head-line-center">Request To Lease</span></h2>
        </div>
    </div><!--end of row class-->


    <div class="row">
        <div class="col-md-12">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>{{ form.errors }}</strong>
                </div>
            {%endif%}

            {% if messages %}
                <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </strong>
                </div>
            {%endif%}
            
        </div>
    </div><!--end of row class-->

    <div class="row">
        
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-wrapper">
                        <div class="brand"></div>
                    <div class="card fat">
                        <div class="card-body">

                                <div class="form-group required">
                                    <label for="region" class="control-label">Region</label>
                                    {{ form.region }}
                                </div>
                            

                                <div class="form-group required">
                                    <label for="land_size" class="control-label">Land Size</label>
                                    {{ form.land_size }}
                                </div>                            

                                <div class="form-group required">
                                    <label for="location" class="control-label">Location</label>
                                    {{ form.location }}
                                </div>                                

                                <div class="form-group required">
                                    <label for="nearest_town" class="control-label">Nearest Town</label>
                                    {{ form.nearest_town }}
                                </div>    
                                
                                <div class="form-group required">
                                    <label for="lease_period" class="control-label">Lease Period</label>
                                    {{ form.lease_period }}
                                </div>                                         
                            
                        </div>
                    </div>
                    
                </div>     
            </div><!--end of col-sm-6-->

            <div class="col-md-6">
                    <div class="card-wrapper">
                        <div class="brand"></div><!--end of brand-->
                        <div class="card fat">
                                <div class="card-body">

                                    <div class="form-group required">
                                        <label for="price" class="control-label">Price</label>
                                        {{ form.price }}
                                    </div>                                    
                                
                                    <div class="form-group required">
                                        <label for="price_per" class="control-label">Price Per</label>
                                        {{ form.price_per }}
                                    </div>

                                    <div class="form-group required">
                                            <label for="name" class="control-label">Your Name</label>
                                            {{ form.name }}
                                    </div>

                                    <div class="form-group required">
                                        <label for="email" class="control-label">Your Email</label>
                                        {{ form.email }}
                                    </div>
    
                                    <div class="form-group required">
                                        <label for="contact" class="control-label">Contact Number</label>
                                        {{ form.contact }}
                                    </div>                                                                            
        
        
                                    <div class="form-group no-margin">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Submit
                                        </button>
                                    </div>

                                </div><!--end of card-body-->
                        </div><!--end of card fat-->
                    </div><!--end of card-wrapper-->  
                </form>      
            </div><!--End of col-sm-6-->
        
    </div><!--end of row class-->
</div><!--end of conatiner class-->

{% endblock %}