{% extends 'base.html' %} {% load staticfiles %} 

{% block mystyles %}

<style>
    .form-group.required .control-label:after {
        content:"*";
        color:red;
    }
    .head-line-center{
        margin:0;padding:0 10px;
        background:#fff;
        display:inline-block;
    }
    #h3headline{
        text-align:center;
        position:relative;
        z-index:2;
    }
    #h3headline:after{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:solid 1px black;
        z-index:-1;
    }
</style>

{% endblock %} 

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3 id="h3headline"><span class="head-line-center">Request Details</span></h3>
        </div>
    </div><!--end of row class-->    

    <div class="row">
        <div class="col-md-12">           
                
                <div class="card">
                    <div class="card-header"><b>{{ requested_agronomist.requestor_name }}</b></div>                    
                    <div class="card-body">
                        <div><b>Crop Type: </b> {{ requested_agronomist.crop_type }}</div>
                        <div><b>Region: </b> {{ requested_agronomist.region }}</div>    
                        <div><b>Location: </b> {{ requested_agronomist.location }}</div>                                             
                        <div><b>Posted On: </b> {{ requested_agronomist.created_at }}</div>

                        <hr>
                        <div id="nature_of_problem">
                            <div><b>Nature of Problem: </b></div>
                            <div>{{ requested_agronomist.nature_of_problem }}</div>
                        </div><!-- End of nature_of_problem id-->
                       

                    </div>                    
                </div>          
            
        </div>
    </div><!--end of row class-->

   
</div><!--end of conatiner class-->

{% endblock %}